<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employeeSkill">
            <h2><span>Employee Skill</span> {{employeeSkill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{employeeSkill.name}}</span>
                </dd>
                <dt><span>Level</span></dt>
                <dd>
                    <span>{{employeeSkill.level}}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="employeeSkill.employeeId">
                        <a [routerLink]="['/employee', employeeSkill.employeeId, 'view']">{{employeeSkill.employeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee-skill', employeeSkill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
